@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

header>div>h1 {
    padding: 20px;
    text-align: center;
    background-color: white;
    font-weight: bold;
}

/* menu */
header>div {
    display: block;
    margin: auto;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;

}

#burguer {
    color: black;
    background-color: #1336fc;
    border-radius: 10%;
    padding: 15px;
    width: 25px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: -50px;
    text-align: center;

}

#burguer:hover {
    color: white;
    background-color: #4c66fc;
    cursor: pointer;
}

#burguer:active {
    background-color: #0022e6;
    color: #000000;
}

#itens {
    display: none;
}

#itens>ul>li>a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #2243ff;
    text-decoration: none;
    color: black;
    border-bottom: 1px black solid;
}

#itens>ul>li>a:hover {
    background-color: #5a72fc;
    color: white;
}

/* informacao */
section#informacao {
    height: 655px;
    padding-top: 35px;
    background-image: url(../imagens/DALL·E\ 2023-02-07\ 23.18.50\ -\ imagem\ tecnologia\ em\ azul\ em\ 1080p.png);
    filter: opacity(100%);
}

section#informacao>img#minhaImagem {
    border-radius: 10px 10px 0px 0px ;
    width: 324px;
    height: 300px;
    display: block;
    margin: 0 auto;
    filter: grayscale(100%);
}

#informacao>div#divInfo {
 
    padding-top: 10px;
    background-color: white;
    width: 324px;
    height: 280px;
    display: block;
    margin: 0 auto;
}

#informacao>div#divInfo>h1 {
    font-weight: bolder;
    text-align: center;
}

#informacao>div#divInfo>h2 {
    text-align: center;
    font-size: 1em;
    margin-bottom: 10px;
}

#informacao>div#divInfo>h3,
#informacao>div#divInfo>p {
    margin-left: 40px;
}

/* redes sociais */
#informacao>div#sociais {
    background-color: #0022e6;
    text-align: center;
    width: 324px;
    display: block;
    margin: 0 auto;
    border-radius: 0px 0px 10px 10px;
}

#informacao>div#sociais>a {
    display: inline-block;
    margin: auto;
}

#informacao>div#sociais>a>img {
    margin: 5px;
    height: 30px;
}
#informacao>div#sociais>a>img#wpp{
    margin-left: 20px;
}

/* apresentacao */
section#apresentacao{
    margin: 15px;
    margin-top: 35px;
}

section#apresentacao > h1{
    margin-bottom: 10px;
}
section#apresentacao > h1,
section#apresentacao > p{
    text-align: center;
}
/* curriculo */
section#curriculo{
    
}


